* {
    box-sizing: border-box;
    
    
}

body {
    margin: 0;
    padding: 0;
}
.container{
  height: 100%;
  width: 100%;
}

header {
    
    width: 98%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    height: 5em;
    background: #939393;
    
    }
h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 55px;
}

.start_board{
  text-align: center;
}

main {
    
  background: #e8e8e8;		
  height: 71em;
  display: flex;
  flex-direction: row;
}
h2 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  height: 5em;
}
/*
.question_header {
    width: 100%;
    background: #939393;
    height: 4em; 
}

.question_column {
    width: 33%;
	margin-top: 0.5em;
	margin-left: .5em;
	margin-right: .5em;			
	background: #cfcfcf;
	height: 70.5em;
	display: flex;
	flex-direction: column;
}